<div id="login-wrapper" [@fadeIn]>
  <a [routerLink]="['/landing']">
    <img src="assets/layout/images/login-logo.png">
  </a>
  <form id="login-container" [formGroup]="loginForm" (keypress)="login($event)" novalidate>
    <span class="title">Iniciar sesión</span>
    <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="status=='error'">
      <i class="fa fa-close"></i>
      Usuario o contraseña incorrectos
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <input id="firstInput" formControlName="username" [(ngModel)]="user.username" type="text" pInputText placeholder="Nombre de usuario" />
            <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].dirty">
              <i class="fa fa-close"></i>
              El nombre de usuario es obligatorio
            </div>
        </div>
        <div class="ui-g-12">
            <input formControlName="password" [(ngModel)]="user.password" type="password" pInputText placeholder="Contraseña" />
            <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">
              <i class="fa fa-close"></i>
              La contraseña es obligatoria
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="ui-g-12 ui-md-6">
            <a [routerLink]="['/signup']">Crear una cuenta nueva</a>
        </div>
        <div class="ui-g-12">
          <button type="button" pButton (click)="login($event)" label="Iniciar sesión" [disabled]="!loginForm.valid">
          </button>
        </div>
    </div>
  </form>
</div>
