<p-confirmDialog></p-confirmDialog>
<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{title}} proyecto</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <p-steps [model]="steps" [(activeIndex)]="activeIndex"></p-steps>
          <ng-container *ngIf="activeIndex==0">
            <form [formGroup]="addProject" (keypress)="Next($event)" novalidate>
              <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12">
                  <p-panel header="Imagen">
                    <img *ngIf="urlPicture" class="profile-img" src="{{urlPicture}}" alt="" />
                    <p-footer>
                      <div class="col-button">
                        <label for="imagen" class="button-file">
                          Cargar
                          <input id="imagen" type="file" (change)="fileChange($event)" hidden/>
                        </label>
                      </div>
                    </p-footer>
                  </p-panel>
                </div>
                <div class="ui-g-12">
                    <label>Tipo:</label>
                </div>
                <div class="ui-g-12">
                    <p-radioButton formControlName="visibility" value="private" label="Privado" inputId="tipo1" [(ngModel)]="project.visibility"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton formControlName="visibility" value="public" label="Público" inputId="tipo2" [(ngModel)]="project.visibility"></p-radioButton>
                </div>
              </div>
              <div class="ui-g-12 ui-md-8">
                <div class="ui-g-12">
                    <input #first type="text" formControlName="name" [(ngModel)]="project.name" pInputText placeholder="Nombre del proyecto">
                    <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!addProject.controls['name'].valid && addProject.controls['name'].dirty">
                      <span *ngIf="addProject.get('name').hasError('required')"><i class="fa fa-close"></i> El nombre del proyecto es obligatorio</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <textarea [rows]="3" [cols]="30" formControlName="description" [(ngModel)]="project.description" pInputTextarea placeholder="Descripción del proyecto"></textarea>
                </div>
                <div class="ui-g-12">
                    <app-map #map [search]="true" [currentPositionMark]="cPM" [(lat)]="project.latitude" [(lng)]="project.longitude"></app-map>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-12" style="text-align:right;">
                    <button type="button" pButton icon="fa-arrow-right" iconPos="right" (click)="Next($event)" label="Siguiente" [disabled]="checkValid()"></button>
                </div>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="activeIndex==1">
            <form [formGroup]="addCategory" (keypress)="guardar($event)" novalidate>
              <div class="ui-g-12">
                <div class="ui-g-12">
                    <input #first type="text" formControlName="name" [(ngModel)]="category.name" pInputText placeholder="Nombre de la categoria">
                    <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!addCategory.controls['name'].valid && addCategory.controls['name'].dirty">
                      <span *ngIf="addCategory.get('name').hasError('required')"><i class="fa fa-close"></i> El nombre de la categoria es obligatorio</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <textarea [rows]="3" [cols]="30" formControlName="description" [(ngModel)]="category.description" pInputTextarea placeholder="Descripción del proyecto"></textarea>
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableSetPriorities" [(ngModel)]="category.enableSetPriorities" onLabel="Si" offLabel="No"></p-toggleButton>
                  Permitir a los usuarios modificar las prioridades
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableSetGeolocation" [(ngModel)]="category.enableSetGeolocation" onLabel="Si" offLabel="No"></p-toggleButton>
                  Permitir enviar la localización en las incidencias
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableAddText" [(ngModel)]="category.enableAddText" onLabel="Si" offLabel="No"></p-toggleButton>
                  Permitir agregar texto a las incidencias
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableSetState" [(ngModel)]="category.enableSetState" onLabel="Si" offLabel="No"></p-toggleButton>
                  Establecer estados de las incidencias
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableEditTitle" [(ngModel)]="category.enableEditTitle" onLabel="Si" offLabel="No"></p-toggleButton>
                  Editar titulos de las incidencias
                </div>
                <div class="ui-g-12">
                  <p-toggleButton formControlName="enableEditTitle" [(ngModel)]="category.enableEditTitle" onLabel="Si" offLabel="No"></p-toggleButton>
                  Permite asignar usuarios a las incidencias creadas
                </div>
                  <div class="ui-g-6 ui-md-4" style="text-align:left;">
                      <button type="button"  pButton icon="fa-arrow-left"  (click)="Previous()" label="Anterior"></button>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-md-offset-4" style="text-align:right;">
                      <button type="button" pButton icon="fa-save" (click)="guardar($event)" label="Guardar" [disabled]="!addCategory.valid"></button>
                  </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
