
<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12">
    <h1>Agregar incidencia</h1>
    <form>
        <div class="ui-g-12">
          <input name="issue" id="firstInput" [(ngModel)]="issue.title" type="text" pInputText placeholder="Título de incidencia"/>
        </div>
        <div class="ui-g-12">
          <p-dropdown name="category" [options]="categories" filter="true" [(ngModel)]="selectedCategory" placeholder="Seleccionar categoría" optionLabel="name"></p-dropdown>
        </div>
        <div style="text-align: right">
          <button type="button" pButton label="Agregar" (click)="guardar($event)">
            </button>
        </div>
    </form>
  </div>
</div>
