<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12" style="text-align:right">
    <button pButton type="button" class="green-button" icon="fa-plus" [routerLink]="['../add']"  label="Crear categoría">
    </button>
  </div>
  <div class="ui-g-12">
    <p-dataTable [value]="categories" [responsive]="true" [emptyMessage]="'No tiene ningún proyecto'" [immutable]="false">
        <p-column field="name" header="Nombre" sortable="true" [style]="{'width':'20%'}"></p-column>
        <p-column sortable="true" header="Prioridad por defecto" [style]="{'width':'20%'}">
          <ng-template let-category="rowData" pTemplate="body">
            {{getPriority(category)}}
          </ng-template>
        </p-column>
        <p-column sortable="true" field="description" header="Descripción" [style]="{'width':'20%'}"></p-column>
        <p-column sortable="true" field="totalIssues" header="Total de incidencias" [style]="{'width':'20%'}"></p-column>
        <p-column styleClass="col-button" header="Acciones" [style]="{'width':'20%'}">
            <ng-template let-category="rowData" pTemplate="body">
              <button pButton type="button" icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" (click)="navigateb64(category.id,'edit')"></button>
              <button pButton class="ui-button-danger" type="button" icon="fa-trash" (click)="eliminar(category)" pTooltip="Eliminar" tooltipPosition="top"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
  </div>
</div>
