<div *ngIf="active">
  <div *ngIf="search===true" style="padding-bottom: 0.5em">
    <div class="ui-inputgroup">
      <input [(ngModel)]="searchLocationText" type="text" pInputText placeholder="Buscar ubicación">
      <button pButton type="button" icon="fa-search" class="ui-button-secondary" (click)="searchLoc()"></button>
    </div>
  </div>
  <div style="padding-top: 0.5em">
    <p-gmap (onMapClick)="clickHandler($event)" (onOverlayDragEnd)="overlayDragEndHandler($event)" [overlays]="marker" [options]="options" [style]="{'width':'100%','height':'300px'}" (onMapReady)="setMap($event)"></p-gmap>
  </div>
</div>
