<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div [@fadeLateral]>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4 ui-md-offset-8" style="text-align:right;">
      <button pButton type="button" class="green-button" icon="fa-plus" [routerLink]="['../add']"  label="Crear incidencia">
      </button>
    </div>
  </div>
  <div class="ui-g-12">
    <p-tabView>
      <p-tabPanel header="Listado">
        <div class="ui-g-12">
          <p-dataTable [value]="issues" [responsive]="true" [immutable]="false">
            <p-column field="title" header="Nombre" sortable="true" [style]="{'width':'25%'}"></p-column>
            <p-column field="createdAt" header="Fecha de creación" sortable="true" [style]="{'width':'15%'}"></p-column>
            <p-column sortable="true" header="Estado" [style]="{'width':'15%'}">
              <ng-template let-issue="rowData" pTemplate="body">
                {{getStatus(issue)}}
              </ng-template>
            </p-column>
            <p-column sortable="true" field="category.name" header="Categoría" [style]="{'width':'15%'}"></p-column>
            <p-column sortable="true" header="Prioridad" [style]="{'width':'15%'}">
              <ng-template let-issue="rowData" pTemplate="body">
                {{getPriority(issue)}}
              </ng-template>
            </p-column>
            <p-column styleClass="col-button" header="Acciones" [style]="{'width':'15%'}">
                <ng-template let-issue="rowData" pTemplate="body">
                  <button pButton type="button" icon="fa-eye" pTooltip="Ver" tooltipPosition="top" (click)="navigateb64(issue.id,'edit')"></button>
                  <button pButton class="ui-button-danger" type="button" icon="fa-trash" (click)="eliminar(issue)" pTooltip="Eliminar" tooltipPosition="top"></button>
                </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Mapa">
        <div class="ui-g-12">
          <app-map [currentPositionMark]="false" [oneMark]="false"></app-map>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
