<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{title}} Categoría</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <form [formGroup]="addCategory" (keypress)="guardar($event)" novalidate>
            <div class="ui-g-12">
              <div class="ui-g-12">
                  <input #first type="text" formControlName="name" [(ngModel)]="category.name" pInputText placeholder="Nombre de la categoria">
                  <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!addCategory.controls['name'].valid && addCategory.controls['name'].dirty">
                    <span *ngIf="addCategory.get('name').hasError('required')"><i class="fa fa-close"></i> El nombre de la categoria es obligatorio</span>
                  </div>
              </div>
              <div class="ui-g-12">
                  <textarea [rows]="3" [cols]="30" formControlName="description" [(ngModel)]="category.description" pInputTextarea placeholder="Descripción del proyecto"></textarea>
              </div>
              <h1 style="margin-top: 10px">Configuración</h1>
              <div class="ui-g-12">
                <p-toggleButton formControlName="enableSetPriorities" [(ngModel)]="category.enableSetPriorities" onLabel="Si" offLabel="No"></p-toggleButton>
                Permitir a los usuarios modificar las prioridades
              </div>
              <div class="ui-g-12">
                <p-toggleButton formControlName="enableSetGeolocation" [(ngModel)]="category.enableSetGeolocation" onLabel="Si" offLabel="No"></p-toggleButton>
                Permitir enviar la localización en las incidencias
              </div>
              <div class="ui-g-12">
                <p-toggleButton formControlName="enableAddText" [(ngModel)]="category.enableAddText" onLabel="Si" offLabel="No"></p-toggleButton>
                Permitir agregar texto a las incidencias
              </div>
              <div class="ui-g-12">
                <p-toggleButton formControlName="enableSetState" [(ngModel)]="category.enableSetState" onLabel="Si" offLabel="No"></p-toggleButton>
                Establecer estados de las incidencias
              </div>
              <div class="ui-g-12">
                <p-toggleButton formControlName="enableEditTitle" [(ngModel)]="category.enableEditTitle" onLabel="Si" offLabel="No"></p-toggleButton>
                Editar titulos de las incidencias
              </div>
              <div class="ui-g-12 ui-md-6">
                <h1 style="margin-top: 10px">Número máximo</h1>
                <div class="ui-g-12">
                  Número máximo de Vídeos
                  <p-spinner size="30" formControlName="maxVideos" [(ngModel)]="category.maxVideos" [min]="1"></p-spinner>
                </div>
                <div class="ui-g-12">
                  Número máximo de Audios
                  <p-spinner size="30" formControlName="maxAudios" [(ngModel)]="category.maxAudios" [min]="1"></p-spinner>
                </div>
                <div class="ui-g-12">
                  Número máximo de Imágenes
                  <p-spinner size="30" formControlName="maxImages" [(ngModel)]="category.maxImages" [min]="1"></p-spinner>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6">
                <h1 style="margin-top: 10px">Prioridad por defecto</h1>
                <div class="ui-g-12">
                  <p-radioButton formControlName="priority" value="high" label="Prioridad alta" inputId="high" [(ngModel)]="category.priority"></p-radioButton>
                </div>
                <div class="ui-g-12">
                  <p-radioButton formControlName="priority" value="medium" label="Prioridad media" inputId="medium" [(ngModel)]="category.priority"></p-radioButton>
                </div>
                <div class="ui-g-12">
                  <p-radioButton formControlName="priority" value="low" label="Prioridad baja" inputId="low" [(ngModel)]="category.priority"></p-radioButton>
                </div>
              </div>
              <div class="ui-g-12" style="text-align:right;">
                  <button type="button" pButton icon="fa-save" (click)="guardar($event)" label="Guardar" [disabled]="!addCategory.valid"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
