.userItem{
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
}
.userItem:hover {
  background-color: #d3d5d8;
}
.ui-overlaypanel-content {
  padding: 0 !important;
}
