<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12 ui-md-8">
    <div class="ui-g-12 ui-md-4" style="text-align:left">
      <button *ngIf="isAdmin()" pButton type="button" class="green-button" icon="fa-plus" [routerLink]="['../add']"  label="Crear usuario">
      </button>
    </div>
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
        <div *ngIf="isAdmin()" class="ui-inputgroup" style="text-align:right">
          <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
          <input (keyup)="searchUser($event, searchUsers, $event.target.value)" type="text" pInputText placeholder="Buscar usuarios">
        </div>
        <p-overlayPanel [style]="{'width':'200px'}" #searchUsers>
          <div *ngIf="projectUser" (click)="assignUser(searchUsers)" class="pointer userItem">
            <span>{{projectUser.username}}</span>
          </div>
        </p-overlayPanel>
    </div>
    <div class="ui-g-12">
        <p-dataTable [value]="activeUsers" [responsive]="true" [emptyMessage]="'No tiene ningún proyecto'" [immutable]="false">
          <p-column field="user.username" header="Usuario" sortable="true" [style]="{'width':'30%'}"></p-column>
          <p-column styleClass="col-button" header="Roles" [style]="{'width':'40%'}">
              <ng-template let-user="rowData" pTemplate="body">
                  {{getRoles(user)}}
              </ng-template>
            </p-column>
          <p-column *ngIf="isAdmin()" styleClass="col-button" header="Acciones" [style]="{'width':'30%'}">
            <ng-template let-user="rowData" pTemplate="body">
              <button pButton type="button" icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" (click)="editUser($event, user, edit)"></button>
              <button pButton class="ui-button-danger" type="button" icon="fa-trash" (click)="eliminar(user)" pTooltip="Eliminar" tooltipPosition="top"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
        <p-overlayPanel [showCloseIcon]="true" [style]="{'width':'150px'}" #edit>
          <div *ngIf="user">
            <p><p-checkbox label="Admin" [(ngModel)]="user.isAdmin" inputId="Admin" binary="true"></p-checkbox></p>
            <p><p-checkbox label="Gestor" [(ngModel)]="user.isManager" inputId="Manager" binary="true"></p-checkbox></p>
            <p><button pButton type="button" icon="fa-save" label="Guardar" (click)="saveUser()"></button></p>
          </div>
        </p-overlayPanel>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
      <p-panel header="Usuarios bloqueados" *ngIf="isAdmin()">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
              <input type="text" (keyup)="searchUser($event, searchBannedUsers, $event.target.value)" pInputText placeholder="Buscar usuarios">
          </div>
          <div *ngIf="bannedUsers.length === 0" style="text-align:center; margin-top:30px; margin-bottom:30px;">
            <i class="fa fa-users fa-4x"></i>
          </div>
      </p-panel>
      <p-overlayPanel  [style]="{'width':'200px'}" #searchBannedUsers>
        <div (click)="banUser(searchBannedUsers)" class="pointer userItem" *ngIf="projectUser">
          <span>{{projectUser.username}}</span>
        </div>
      </p-overlayPanel>
  </div>
</div>
