<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Proyectos</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12" style="text-align:right">
          <button pButton type="button" class="green-button" icon="fa-plus" [routerLink]="['../add']"  label="Crear poyecto">
          </button>
        </div>
        <div class="ui-g-12">
          <p-dataTable [value]="projects" [responsive]="true" [emptyMessage]="'No tiene ningún proyecto'" [immutable]="false">
              <p-column field="project.name" header="Nombre" sortable="true" [style]="{'width':'30%'}"></p-column>
              <p-column header="Rol" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-project="rowData" pTemplate="body">
                  {{getRole(project)}}
                </ng-template>
              </p-column>
              <p-column styleClass="dataRow-num" sortable="true" field="project.openIssues" header="Incidencias pendientes" [style]="{'width':'15%'}"></p-column>
              <p-column styleClass="dataRow-num" sortable="true" field="project.totalIssues" header="Total incidencias" [style]="{'width':'15%'}"></p-column>
              <p-column styleClass="col-button" header="Acciones" [style]="{'width':'20%'}">
                  <ng-template let-project="rowData" pTemplate="body">
                    <button pButton class="black-button" type="button" icon="fa-gear" pTooltip="Configurar" tooltipPosition="top" (click)="navigateb64(project.project.id,'config')"></button>
                    <button *ngIf="project.isAdmin" pButton type="button" icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" (click)="navigateb64(project.project.id,'edit')"></button>
                    <button *ngIf="project.isAdmin" pButton class="ui-button-danger" type="button" icon="fa-trash" (click)="eliminar(project)" pTooltip="Eliminar" tooltipPosition="top"></button>
                  </ng-template>
              </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>
