<div class="ui-g" [@fadeLateral]>
    <div class="ui-g-12">
        <form [formGroup]="registerForm" (keypress)="registrar($event)" novalidate>
            <h1>Registro</h1>
              <div class="ui-g-12">
                <input id="firstInput" type="text" formControlName="lastName" [(ngModel)]="user.lastName" pInputText placeholder="Apellidos"/>
                <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].dirty">
                    <i class="fa fa-close"></i>
                    El apellido es obligatorio
                </div>
              </div>
              <div class="ui-g-12">
                <input type="text" formControlName="name" [(ngModel)]="user.name" pInputText placeholder="Nombres" />
                <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].dirty">
                  <i class="fa fa-close"></i>
                  El nombre es obligatorio
                </div>
              </div>
              <div class="ui-g-12">
                <input type="email" formControlName="email" [(ngModel)]="user.email" (focus)="resetEmailUnique()" pInputText placeholder="Correo electrónico" />
                <div style="margin-top:10px" [ngClass]="{
                  'ui-messages-error': registerForm.get('email').hasError('required'),
                  'ui-messages-warn': registerForm.get('email').hasError('invalidEmail')
                }" class="ui-message ui-corner-all" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].dirty">
                  <span *ngIf="registerForm.get('email').hasError('required')"><i class="fa fa-close"></i> El email es obligatorio</span>
                  <span *ngIf="registerForm.get('email').hasError('invalidEmail')"><i class="fa fa-exclamation-triangle"></i> Formato de email inválido (ej. hola@adios.com)</span>
                </div>
                <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="emailUnique==true">
                  <i class="fa fa-close"></i>
                  Esta dirección de correo electronico ya está en uso
                </div>
              </div>
              <div class="ui-g-12">
                <input type="text" formControlName="username" [(ngModel)]="user.username" (focus)="resetUsernameUnique()" pInputText placeholder="Nombre de usuario" />
                <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].dirty">
                  <i class="fa fa-close"></i>
                  El nombre de usuario es obligatorio
                </div>
                <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="usernameUnique==true">
                  <i class="fa fa-close"></i>
                  El nombre de usuario ya está en uso
                </div>
              </div>
              <div formGroupName="passwords">
                <div class="ui-g-12">
                  <input type="password" formControlName="password" [(ngModel)]="user.password" pInputText placeholder="Contraseña" />
                  <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerForm.get(['passwords','password']).valid && registerForm.get(['passwords','password']).dirty">
                    <i class="fa fa-close"></i>
                    La contraseña es obligatoria
                  </div>
                </div>
                <div class="ui-g-12">
                  <input type="password" formControlName="repeatP" [(ngModel)]="repeatP" pInputText placeholder="Repetir contraseña" />
                  <div style="margin-top:10px" class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerForm.get('passwords').valid && registerForm.get(['passwords','repeatP']).dirty">
                    <i class="fa fa-close"></i>
                    <span *ngIf="registerForm.get(['passwords','repeatP']).hasError('required')">Repetir la contraseña es obligatorio</span>
                    <span *ngIf="registerForm.get('passwords').hasError('invalidConfirmPassword')">Las contraseñas no coinciden</span>
                  </div>
                </div>
              </div>
              <div style="text-align:right">
                  <button type="button" pButton label="Registrar" (click)="registrar($event)" [disabled]="!registerForm.valid">
                  </button>
              </div>

          </form>
        </div>
  </div>
