<div class="landing-body" [@fadeIn]>
  <div class="landing-wrapper">
    <div class="landing-header">
        <div class="landing-header-content clearfix">
            <img src="assets/layout/images/logo.png" width="113">

            <a id="menu-button" href="#">
                <img src="assets/layout/images/landing/landing-menu-icon.svg">
            </a>
            <ul id="menu">
                <li><a [ngx-scroll-to]="'introduction'">Introducción</a></li>
                <li><a [ngx-scroll-to]="'features'">Características</a></li>
                <li><a [ngx-scroll-to]="'mobile'">Móvil</a></li>
                <li><a [ngx-scroll-to]="'pricing'">Precios</a></li>
                <li><a [ngx-scroll-to]="'video'">Video</a></li>
                <li class="loginbox">
                  <a *ngIf="isLogged == false" [routerLink]="['/login']">Iniciar sesión</a>
                  <a *ngIf="isLogged == true" [routerLink]="['/dashboard']">{{user.name + ' ' + user.lastName}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="introduction">
        <div class="introduction-content">
            <span class="title">ProjectManager</span>
            <span class="subtitle">Líder en seguimiento y control</span>
            <img src="assets/layout/images/landing/section1_logo.png">
            <a [routerLink]="['/signup']" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" role="button" aria-disabled="false">
                <span class="ui-button-text ui-c">Registro</span>
            </a>
        </div>
    </div>

    <div id="features">
        <div class="features-content">
            <span class="feature-title">Características de ProjectManager</span>
            <p>La plataforma le ofrece servicios para mantener un orden en la gestión de sus proyectos.</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_1.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Proyectos</span>
                        <p>Tiene la capacidad de crear proyectos geolocalizados y clasificados en la cantidad que usted desee.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_2.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Incidencias</span>
                        <p>El manejo de incidencias en los proyectos permite el fácil reporte de los problemas de una forma fácil y rápida.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_3.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Categorías</span>
                        <p>Gracias al sistema de categorías puede clasificar de una forma sencilla todos los proyectos del mismo tipo.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_4.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Geolocalización</span>
                        <p>Todas las incidencias y proyectos son geolocalizados, por lo cual podrá tener conocimiento de la posicion exacta de los reportes.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_5.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Gráficos</span>
                        <p>La plataforma usa la información que su equipo de trabajo ingresa para mostrar estadisticos de relevancia para usted.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/layout/images/landing/section2_6.png" class="feature-icon">
                    <span class="feature-text">
                        <span>Soporte</span>
                        <p>En caso de cualquier duda o aclaración cuenta con un servicio de soporte las 24 horas.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-content">
            <span class="title">¡Prueba nuestra aplicación móvil!</span>
            <span class="subtitle">Disponible en AppStore y en GooglePlay.</span>
            <img src="assets/images/mobile.png">
            <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" role="button" aria-disabled="false">
                <span class="ui-button-text ui-c">Saber mas</span>
            </a>
        </div>
    </div>

    <div id="pricing">
        <div class="pricing-content">
            <span class="pricing-title">Precios</span>
            <p>Ajustamos nuestros precios para que obtenga la mejor relación costo-beneficio del mercado.</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-basic pricing-box">
                        <span class="pricing-name">Basic0</span>
                        <div class="pricing-fee">1$</div>

                        <p>50 proyectos creados a la vez</p>
                        <p>10 usuarios por proyecto</p>
                        <p>10 incidencias por dia para cada usuario</p>
                        <p>Soporte en el foro </p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-standard pricing-box">
                        <span class="pricing-name">Estándar</span>
                        <div class="pricing-fee">5$</div>

                        <p>250 proyectos creados a la vez</p>
                        <p>100 usuarios por proyecto</p>
                        <p>100 incidencias por dia para cada usuario</p>
                        <p>Soporte en el foro y con un operador</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-professional pricing-box">
                        <span class="pricing-name">Profesional</span>
                        <div class="pricing-fee">10$</div>

                        <p>500 proyectos creados a la vez</p>
                        <p>200 usuarios por proyecto</p>
                        <p>200 incidencias por dia para cada usuario</p>
                        <p>Soporte en el foro y con un operador</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="video">
        <div class="video-content">
            <span class="video-title">Video</span>
            <p>Permitanos mostrarle las ventajas y las experiencias de nuestros usuarios con este pequeño videoclip.</p>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/B_lYGUtCd0g" frameborder="0" width="560"></iframe>
            </div>
        </div>
    </div>

    <div class="landing-footer">
        <div class="landing-footer-content">
            <div class="footer-top">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <img src="assets/layout/images/logo.png">
                        <p>ProjectManager</p>
                    </div>
                    <div class="ui-g-6">
                        <ul>
                            <li><a [ngx-scroll-to]="'mobile'">Móvil</a></li>
                            <li><a [ngx-scroll-to]="'pricing'">Precios</a></li>
                            <li><a [ngx-scroll-to]="'video'">Video</a></li>
                        </ul>
                        <ul>
                            <li><a [ngx-scroll-to]="'introduction'">Introducción</a></li>
                            <li><a [ngx-scroll-to]="'features'">Características</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                &copy; 2017 CMI. Todos los derechos reservados.
            </div>
        </div>
    </div>
  </div>
</div>
