<div class="ui-g" [@fadeLateral]>
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-3">
          <p-panel [showHeader]="false" [style]="{'marginTop':'.25em'}">
            <img *ngIf="urlPicture" class="profile-img" src="{{urlPicture}}" alt="" />
            <h3>{{project.name}}</h3>
            <p>{{project.description}}</p>
            <h4>{{getVisibility(project.visibility)}}</h4>
          </p-panel>
        </div>
        <div class="ui-g-12 ui-md-9">
          <p-tabMenu [model]="sections"></p-tabMenu>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
