<div class="wrapper" [ngClass]="{'sidebar-inactive-l':menuInactiveDesktop, 'sidebar-active-m':menuActiveMobile}" [@fadeIn]>
  <div class="topbar clearfix">
      <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
          <span class="fa fa-bars"></span>
      </a>
      <span class="topbar-title"></span>
      <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
          <span class="fa fa-ellipsis-h"></span>
      </a>
      <div id="topbar-icons" class="animated" [ngClass]="{'topbar-icons-visible flipInX':topMenuActive,'flipOutX':topMenuLeaving}">
          <span class="topbar-search" (click)="onSearchClick()">
              <input type="text" placeholder="Search" />
              <span class="topbar-search-icon fa fa-search"></span>
          </span>
          <!--<a href="#">
              <span class="topbar-item-text">Messages</span>
              <span class="topbar-icon fa fa-envelope-o animated swing"></span>
              <span class="topbar-badge animated rubberBand">5</span>
          </a>-->
          <a [routerLink]="['projects/add']">
              <span class="topbar-item-text">Projects</span>
              <span class="topbar-icon fa fa-plus"></span>
          </a>
          <a [routerLink]="['account']">
              <span class="topbar-item-text">User</span>
              <span class="topbar-icon fa fa-user"></span>
          </a>
      </div>
  </div>
  <div class="sidebar" (click)="onMenuClick()">
      <div #scroller class="nano">
          <div class="nano-content sidebar-scroll-content">
              <div class="logo">
                  <img class="pointer" [routerLink]="['/landing']" src="assets/layout/images/logo.png" alt="" width="113">
              </div>
              <div class="profile">
                  <img src="{{url+ '/endpoint/users/getImage/' + GLOBAL.user.picture}}" alt="" />
                  <a id="profile-button" href="#" (click)="toggleProfile($event)">
                      <span class="username">{{GLOBAL.user.name + " " + GLOBAL.user.lastName}}</span>
                      <i class="fa fa-fw fa-cog"></i>
                  </a>
                  <ul [@submenu]="profileActive ? 'visible' : 'hidden'">
                      <li><a [routerLink]="['account']"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                      <li class="pointer"><a (click)="logout()"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                  </ul>
              </div>
              <app-dashboard-menu></app-dashboard-menu>
          </div>
      </div>
  </div>
  <div class="main">
      <router-outlet></router-outlet>
  </div>
</div>
