<div class="exception-wrapper error">
  <img src="assets/layout/images/404.png" />

  <p class="message-title">No existe la página!</p>
  <p class="message-summary">El recurso al que hace referencia no existe.</p>

  <a [routerLink]="['/']">
      <i class="fa fa-home"></i>
      <span>Regresar</span>
  </a>

  <div class="login-footer">PrimeNG Omega</div>
</div>
