<div class="ui-g" [@fadeLateral] *ngIf="GLOBAL.user">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Editar perfil</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <form [formGroup]="accountForm" (keypress)="guardar($event)" novalidate>
            <div class="ui-g-12 ui-md-2">
              <p-panel header="Imagen">
                <img class="profile-img" src="{{url+ '/endpoint/users/getImage/' + user.picture}}" alt="" />
                <p-footer>
                  <div class="col-button">
                    <label for="imagen" class="button-file">
                      Cargar
                      <input id="imagen" type="file" (change)="fileChange($event)" hidden/>
                    </label>
                  </div>
                </p-footer>
              </p-panel>
            </div>
            <div class="ui-g-12 ui-md-10">
              <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Apellidos:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input #first id="firstInput" type="text" formControlName="lastName" [(ngModel)]="user.lastName" pInputText placeholder="Apellidos"/>
                  </div>
                  <div class="ui-grid-col-5">
                    <div  class="ui-message ui-messages-error ui-corner-all" *ngIf="!accountForm.controls['lastName'].valid && accountForm.controls['lastName'].dirty">
                      <i class="fa fa-close"></i>
                      El apellido es obligatorio
                    </div>
                  </div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Nombres:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input type="text" formControlName="name" [(ngModel)]="user.name" pInputText placeholder="Nombres" />
                  </div>
                  <div class="ui-grid-col-5">
                    <div  class="ui-message ui-messages-error ui-corner-all" *ngIf="!accountForm.controls['name'].valid && accountForm.controls['name'].dirty">
                      <i class="fa fa-close"></i>
                      El nombre es obligatorio
                    </div>
                  </div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Correo electrónico:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input type="email" formControlName="email" [(ngModel)]="user.email" (focus)="resetEmailUnique()" pInputText placeholder="Correo electrónico" />
                  </div>
                  <div class="ui-grid-col-5">
                    <div  [ngClass]="{
                      'ui-messages-error': accountForm.get('email').hasError('required'),
                      'ui-messages-warn': accountForm.get('email').hasError('invalidEmail')
                    }" class="ui-message ui-corner-all" *ngIf="!accountForm.controls['email'].valid && accountForm.controls['email'].dirty">
                      <span *ngIf="accountForm.get('email').hasError('required')"><i class="fa fa-close"></i> El email es obligatorio</span>
                      <span *ngIf="accountForm.get('email').hasError('invalidEmail')"><i class="fa fa-exclamation-triangle"></i> Formato de email inválido (ej. hola@adios.com)</span>
                    </div>
                    <div  class="ui-message ui-messages-error ui-corner-all" *ngIf="emailUnique==true">
                      <i class="fa fa-close"></i>
                      Esta dirección de correo electronico ya está en uso
                    </div>
                  </div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Teléfono:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input type="text" (keypress)="validarNum($event.keyCode)" maxlength="10" formControlName="phone" [(ngModel)]="user.phone" pInputText placeholder="Teléfono" />
                  </div>
                  <div class="ui-grid-col-5">
                    <div  [ngClass]="{
                      'ui-messages-error': accountForm.get('phone').hasError('required'),
                      'ui-messages-warn': accountForm.get('phone').hasError('minlength')
                    }" class="ui-message ui-corner-all" *ngIf="!accountForm.controls['phone'].valid && accountForm.controls['phone'].dirty">
                      <span *ngIf="accountForm.controls['phone'].errors['required']"><i class="fa fa-close"></i> El teléfono es obligatorio</span>
                      <span *ngIf="accountForm.controls['phone'].errors['minlength']"><i class="fa fa-exclamation-triangle"></i> El teléfono debe tener 10 digitos</span>
                    </div>
                  </div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Organización:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input type="text" formControlName="organization" [(ngModel)]="user.organization" pInputText placeholder="Organización"/>
                  </div>
                  <div class="ui-grid-col-5"></div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    <label>Ciudad:</label>
                  </div>
                  <div class="ui-grid-col-5">
                    <input type="text" formControlName="city" [(ngModel)]="user.city" pInputText placeholder="Ciudad"/>
                  </div>
                  <div class="ui-grid-col-5"></div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2"></div>
                  <div class="ui-grid-col-5">
                      <button type="button" pButton label="Guardar" icon="fa-save" (click)="guardar($event)" [disabled]="!accountForm.valid">
                        </button>
                  </div>
                  <div class="ui-grid-col-5"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
