<div [@fadeLateral] class="chat">
  <div class="chatHeader">
    <div class="ui-helper-clearfix">
      <div class="chatLeftHeader">
        <span class="issueNum">{{issue.issueId + ' ' + issue.title}}</span>
      </div>
      <div class="chatRightHeader">
          <button pButton class="ui-button-secondary" type="button" icon="fa-bars" pTooltip="Prioridad" tooltipPosition="top"></button>
          <button pButton class="ui-button-secondary" type="button" icon="fa-clock-o" pTooltip="Estado" tooltipPosition="top"></button>
      </div>
    </div>
  </div>
  <div class="chatBody">
    <div class="container">
      <img src="/w3images/bandmember.jpg" alt="Avatar">
      <p>Hello. How are you today?</p>
      <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
      <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
      <p>Hey! I'm fine. Thanks for asking!</p>
      <span class="time-left">11:01</span>
    </div>

    <div class="container">
      <img src="/w3images/bandmember.jpg" alt="Avatar">
      <p>Sweet! So, what do you wanna do today?</p>
      <span class="time-right">11:02</span>
    </div>

    <div class="container darker">
      <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
      <span class="time-left">11:05</span>
    </div>
  </div>
</div>
