/* You can add global styles to this file, and also import other style files */
/*  668-142-67-62*/
@media(min-width: 65em){
  .loginbox {
    padding-right: 30px;
    padding-left: 50px;
  }
}
.button-file{
  display: block;
  border-radius: 3px;
  border: 1px solid #2399e5;
  color: #FFFFFF;
  background: #2399e5;
  padding: .25em;
  cursor: pointer;
}
  .button-file:hover {
    background: #1f89ce; }
  .button-file:focus {
    outline: 0;
    background: #186ba0;
  }
.profile-img{
  display: block;
  width: 100%;
  margin: 0 auto;
}
form div.label-right {
  text-align: right;
}
.pointer {
  cursor: pointer;
}
.ui-messages-error {
  color: #ab1a0f;
  background-color: #ffcbc8;
  border-color: #ffcbc8;
}
.ui-messages-error .ui-messages-close {
  color: #ab1a0f !important;
}
.ui-messages-warn {
  color: #8a6714;
  background-color: #ffe9b5;
  border-color: #ffe9b5;
}
.col-button{
  text-align: center;
}
.dataRow-num{
  text-align: right;
}
textarea{
  resize: none !important;
  width: 100%;
}
input {
  width: 100%;
}
.ui-datatable .ui-datatable-thead>tr>th,
.ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td{
  overflow: hidden;
}
.ui-tabview .ui-tabview-panel{
  padding: 1em 0;
}
.ui-button{
  white-space: nowrap;
}
.no-lateral-padding{
  padding-left:0 !important;
  padding-right: 0 !important;
}
.prev-button{
  float: left !important;
  padding-left: 0.5em;
}
.next-button{
  float: right !important;
  padding-right: 0.5em;
}
.input-search {
  width: 100%;
  vertical-align: middle;
  position: relative;
}
.input-search input{
  width: (100% - 2em);
  float: left;
  border-right: 0 none;
  padding-left: .5em;
}
.input-search button {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
}

